/* a태그 모양 바꾸기 */
a.menu {    /* 추가 */
	margin-left: 10px;
    text-decoration: none;
    color: white;
}

.container > li {
    /* border: 1px solid yellow; */
    list-style: none;
    font-size : 1.5em;
    padding: 8px 12px;
    margin : 8px 12px;
}
/* hover 선택자는 마우스가 올라갔을 때 */
.container > li:hover {
    background-color: coral;
    border-radius: 4px;

}    
.container {
    background-color: pink;
    display: flex;
    justify-content: center;
    padding: 12px 15px;
}
/* 반응형으로 레이아웃 만들기
   해상도 최대 768px 까지 동작하도록 설정 */
@media screen and (max-width:768px) {
    .container {
        flex-direction: column;
    }
    .container > li {
        text-align: center;
    }
}

/*  마진과 마진이 만났을 때 마진 상쇄의 
경우가 있습니다.  */
html,body {
    height: 100%;
}
.map_wrap {
    display: flex;
	flex-direction: column;
	height: 100%;	
}
.footer {
    border-top: 3px solid tomato;
    margin-top: 5%;    /* 추가 */
    padding-bottom: 5%;  /* 추가 */
}
.footer a,p {
    font-size: 12px;  /* 부모 태그인 footer 태그의 font-size를 지정해야 em 을 사용할 수 있습니다. */
    color:brown;
}
#login{
	margin-right: 40%; 
	padding-left: 10px;
	padding-right: 80px;
	font-size: 0.8em;
}




.container1 > li {
    /* border: 1px solid yellow; */
    list-style: none;
    font-size : 1.5em;
    padding: 1px 1px;
    margin : 1px 1px;
    height:30px;
}
.container1 > li > img {
	height:30px;
	width: 70px;
	object-fit:cover;
}
/* hover 선택자는 마우스가 올라갔을 때 */
.container1 > li:hover {
    background-color: coral;
    border-radius: 4px;
	background-image:url("deco.jpg");
}    
.container1 {
    background-color: blue;
    background-image:url("deco.jpg");
    display: flex;
    justify-content: center;
    padding: 1px 1px;
}


/* 반응형으로 레이아웃 만들기
   해상도 최대 768px 까지 동작하도록 설정 */
h3 {
	    text-align: center;
}




.container2 > li {
    /* border: 1px solid yellow; */
    list-style: none;
    font-size : 1.5em;
    padding: 1px 1px;
    margin : 20px 20px;
}
/* hover 선택자는 마우스가 올라갔을 때 */
.container2 > li:hover {
    background-color: coral;
    border-radius: 4px;

}    
.container2 {
    background-color: pink;
    display: flex;
    justify-content: center;
    padding: 1px 1px;
}


.container3 {
    /* border: 1px solid yellow; */
    list-style: none;
    font-size : 1.5em;
    padding: 1px 1px;
    margin : 1px 1px;
}
/* hover 선택자는 마우스가 올라갔을 때 */
.container3:hover {
    background-color: coral;
    border-radius: 4px;

}    
.container3 {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 1px 1px;
}


.cont-box-rotate{
width: 0px;height:0px;
border-right:50px solid transparent;border-bottom:50px solid cornflowerblue; 
transform:rotate(225deg);
-ms-transform:rotate(225deg);
-webkit-transform:rotate(225deg);
-moz-transform:rotate(225deg);
-o-transform:rotate(225deg);
}





.cont-btn{ /*사각형*/
display:block;width:50px;height:30px;
border-radius:8px;
border:2px solid transparent;border-color:dodgerblue transparent dodgerblue dodgerblue;
background-color:cornflowerblue;
font-weight:bold;font-size:12px;color:#ffffff;text-decoration:none;
}
.cont-btn:before{ /*텍스트*/
content:"버튼";z-index:2;
position:absolute;left:15px;top:12px;
}
.cont-btn:after{ /*마름모*/
content:"";display:block;
position:absolute;left:24px;top:13px;z-index:1;
width:23px;height:23px;
border-radius:8px;
border:2px solid transparent;
border-color:transparent transparent dodgerblue dodgerblue;background-color:cornflowerblue;
transform:rotate(225deg) translateY(14px);
-ms-transform:rotate(225deg) translateY(14px);
-webkit-transform:rotate(225deg) translateY(14px);
-moz-transform:rotate(225deg) translateY(14px);
-o-transform:rotate(225deg) translateY(14px);
}


.cont-btn1{ /*사각형*/
display:block;width:40px;height:15px;
border-radius:8px;
border:2px solid transparent;border-color:dodgerblue transparent dodgerblue dodgerblue;
background-color:cornflowerblue;
font-weight:bold;font-size:12px;color:#ffffff;text-decoration:none;
content:"게시판";z-index:2;
text-align: center;
}
/* .cont-btn1:before{ 텍스트
content:"버튼";z-index:2;
position:absolute;left:15px;top:12px;
} */

